<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Programming in R</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>15:00</td>  <td>TODO</td> </tr>
      <tr> <td>16:00</td>  <td>TODO COFFEE</td> </tr>
      <tr> <td>16:30</td>  <td>...</td> </tr>
      <tr> <td>19:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: The Unix Shell </h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td>TODO</td> </tr>
      <tr> <td>16:00</td>  <td>TODO COFFEE</td> </tr>
      <tr> <td>16:30</td>  <td>...</td> </tr>
      <tr> <td>19:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <br />
  <div class="col-md-6">
    <h3>Day 3: R for Reproducible Scientific Analysis</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td>TODO</td> </tr>
      <tr> <td>16:00</td>  <td>TODO COFFEE</td> </tr>
      <tr> <td>16:30</td>  <td>...</td> </tr>
      <tr> <td>19:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4: Version Control with Git</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td>TODO</td> </tr>
      <tr> <td>16:00</td>  <td>TODO COFFEE</td> </tr>
      <tr> <td>16:30</td>  <td>...</td> </tr>
      <tr> <td>18:50</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>19:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
